@import './vendor/reset.scss';
@import './vars';
@import './mixins';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    // 10px = 1rem
    font-size: 62.5%; // (62.5% = 10px при стандартном режиме браузера)
    background-color: $bg;
    color: #fff;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 510;
    letter-spacing: 5.5%;
    line-height: 4.9rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

h_name_card {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

h_info_card {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    color:#B4B4B4;
}

h_price_card{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.1rem;
}
a {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: none
    }

}


// Components
@import './components/header';
@import './components/container';
@import './components/footer'

